vllm==0.13.0
timm==1.0.22
fastapi==0.127.0
langgraph==1.0.5
langchain-core==1.2.6
langchain-tavily==0.2.16
redis==7.1.0
tiktoken==0.12.0
python-dateutil==2.9.0.post0
azure-search-documents==11.6.0
pandas==3.0.2
FlagEmbedding
opensearch-py